*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(./lampion.jpg);
    font-size: 16px;
}

.contain{
    width : 900px;
    margin :auto;
    background: linear-gradient(to right,#bb090c,#070100)
}

.header{
    color: white;
    height:200px;  
    width:auto;
    background-image: url(./header.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 80px;
    font-weight:bold;
    border-bottom: 3px solid white;
    text-transform: uppercase;
}
nav ul li{
    font-size:17px;
    text-transform: uppercase;
    padding: 20px 20px;
}
nav ul li a{
    color:white;
}
.navigasi{
    width:25%;
    color:white;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(99, 17, 17); 
}

.main{
    width:75%;
    color:white;
    height:400px;
    background-image: url(./CV.webp); 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    .section{
        width:670px ;
        height:390px;
        scroll-snap-align: start;
        justify-content: center;
        align-items: center;
        .profil{
            width:670px;
            height:390px;
            padding: 100px;
        }
        .cv{
            
            justify-content: center;
            align-items: center;
        }
    }
}

.kontak{
    width:100%;
    color:white;
    height:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(22, 12, 12);
}
.footer{
    width:100%;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(34, 4, 4);
}

.profil img{
 border-radius: 100%;
 margin: 10px;
 width:200px;
 height:200px;
}
.profil{
    padding: 85px 100px;
    text-align: center;
}
.kontak img{
    width:15px;
    height:15px;
}
.kontak p a{
    color:white;
}